@import "frappe.css";

* {
	padding-top: 0.5px;
    border: none;
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
    font-size: 12px;
    min-height: 10px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.1);
    color: @base;
}
#workspaces {
	margin: 0 4px;
}

#workspaces button {
	padding: 0 3px;
	padding-bottom: 0px;
	border-radius: 7px;
/*    background: rgba(41, 44, 60, 50); */
    color: rgba(0, 0, 0, 1);

}

#workspaces button.active {
	padding: 0 5px;
    padding-bottom: 0px;
    color: rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 0.1);
}

#clock, #language, #cpu, #memory, #tray, #pulseaudio, #custom-temp, #custom-spotify, #network {
	margin-left: 5px;
	margin-right: 5px;
    padding: 0 10px;
    color: rgba(0, 0, 0, 1);
/*    background: rgba(0, 0, 0, 0.1); */
}
#tray menu {
	background: rgba(41, 44, 60, 50);
	color: @base;
	padding-bottom: 3px;
}

#custom-spotify {
	background-color: @green;
	color: @mantle;
}

#network.disabled {
	background-color: @red;
}

#network.disconnected {
	background-color: @yellow;
}

